/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.main-header {
    text-align: left;
    background-color: #333;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
    padding: 0 20px;
}

.large-text {
    font-size: 14px; 
    font-weight: bold;
}

.small-text {
    font-size: 8px; 
}

.content-wrapper {
    display: flex;
    height: calc(100vh - 70px);
    width: 100%;
}

.left-panel {
    width: 20%;
    padding: 10px;
    background-color: #012;
    color: #ccc;
    overflow-y: auto;
    font-size: 0.7rem;
    height: 100%;
    box-sizing: border-box;
}

.right-panel {
    width: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

img {
    width: auto;
    height: auto;
    max-width: 90%; /* 이미지의 크기를 오른쪽 패널의 90%로 제한 */
    max-height: 300px;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.fixed-graph {
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 10;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    max-height: 300px;
    min-height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.scrollable-section {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.scrollable-graph {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    max-height: 300px;
}

.report-content {
    width: 90%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    box-sizing: border-box;
    white-space: pre-wrap;
    line-height: 1.5;
    overflow-y: auto; /* 스크롤 가능하도록 변경 */
}

.ticker-list {
    display: flex;
    flex-direction: column;
}

.ticker-item {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    cursor: pointer;
    color: cyan;
}

.ticker-item:hover {
    background-color: #444; /* 마우스 오버 시 배경색 변경 */
}

.sort-options {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#rankAlphaToggle {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
}

/* Help icon 스타일 추가 */
#helpIcon {
    cursor: pointer;
    font-size: 18px;
    color: #00ff00; 
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 5px;
    transition: color 0.3s;
}

#helpIcon:hover {
    color: #ff0000;
}
